.nochoice{
    text-align: center;
    color :#F9F9F9;
    margin-top: 30px;
}

.cardChoose{
    background-color: #fcfcfc;
    margin-top : 5px;
    
}
.margecard{
    
    width : 98%;
    margin-bottom: 1%;
    margin-top :1%;
    padding-left:2%;
}
.align{
    
    display: flex;
    justify-content: center;
}
